
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    background-color: #f8f8f8;
    color: #333;
    
}

header {
    background-color: #7e7c7c;
    color: #fff;
    padding: 20px;
    background-image: url('acc2.jpeg'); 
    background-size: cover; 
    background-position: center; 
}

header h1 {
    margin: 0;
}

nav {
    width: 100%; 
    display: inline-block; /* Utilisation de flexbox pour aligner les éléments */
    justify-content: space-between; /* Aligner les éléments sur les côtés de la barre de navigation */
    align-items: center; /* Aligner les éléments verticalement au centre */
    
}

nav ul {
    list-style-type: none;
}
/* */
/* BARRE DE NAVIGATION */
nav a{ /* tous les liens a à l'intérieur de la balise nav */
    float: left; /* effet flottant */
    text-decoration: none; /* pas d'héritage avec effet souligné */
    color: #ffffff; /* couleur du texte */
    background: #000000; /* couleur de fond */
    height: 36px; /* hauteur */
    line-height: 33px; /* interligne */
    padding: 0 10px; /* marges intérieur */
    font-family: 'Roboto', sans-serif; /* police d'écriture */
    font-size: 20px; /* taille du texte */
    transition: .5s; /* temps de transition lors du hover : une demi seconde */
    }
nav a:hover{ /* tous liens lors du survol dans la balise nav */
    background: #3cf4c9; /* couleur de fond */
    }
nav form{
    margin-top: 20px;
    margin-left: 60%;
    padding-left: 10%;
    display: block;
    color: #000000;
}  
nav form button{

        padding: 8px 15px;
        background-color: #ece7e7;
        color: #161414;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
}  
nav form button:hover {
    background-color: #555;
}
/*    decoration*/

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}



main {
    padding: 20px;
}

section {
    padding: auto;
    margin-bottom: 30px;
   
}


.project {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-top: 0;
}

.project p {
    margin-bottom: 10px;
}

.project a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}

.project a:hover {
    background-color: #555555c4;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
/* Ajout de bordures au formulaire */
form {
    border: 1px solid #524c4c;
    padding: 20px;
    border-radius: 5px;
}
